.our-products-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px;
  }
  
  .our-products-container h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  